<div class="ocs__container ocs__infograph">
  {% assign data = site.data[page.infoGraph] %}
  <div class="ocs__stack">
    <!-- Header Section -->
    <div class="ocs__infograph-header">
      <h1 class="ocs__section-title">{{ data.Title }}</h1>
      <p class="ocs__description">{{ data.Description }}</p>
    </div>

    <!-- Rows Section -->
    <div id="rows" class="ocs__stack">
      {% for topic in data.Topics %}
        <div class="ocs__card ocs__infograph-topic">
          <!-- Image Column -->
          <div class="ocs__infograph-image module-image-col">
            <a href="{{ site.baseurl }}{{ topic.link }}" class="ocs__infograph-image">
              {% assign image_path = '/images/' | append: topic.image | replace: '//', '/' %}
              {% assign image_file = site.static_files | where: 'path', image_path | first %}
              {% if image_file %}<img src="{{ image_path | relative_url }}" alt="{{ topic.alt }}" class="ocs__image-frame">{% endif %}
              <span class="ocs__btn accent">Read {{ topic.title }}</span>
            </a>
          </div>
          <!-- Key Points Column -->
          <div class="module-keypoints-col">
            <h3 class="ocs__section-title">{{ topic.title }}</h3>
            <ul>
              <!-- Loop through kepoints within Topic -->
              {% for point in topic.keyPoints %}
                <li>{{ point }}</li>
              {% endfor %}
            </ul>
          </div>
          <!-- Description Column -->
          <div class="module-desc-col">
            <h3 class="ocs__section-title">{{ topic.subtitle }}</h3>
            <p class="ocs__description">{{ topic.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
