---
layout: uesl
hide_footer: true
hide_main_wrapper: true
---
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<script>
    if (new URLSearchParams(location.search).get('embed')) {
      document.documentElement.classList.add('embed-mode');
    }
</script>

<div class="lesson-sidebar ocs-lesson-sidebar">
    {%- include ecentricolor/sidebar.html -%}
</div>

<div class="lesson-main ocs-lesson-main">
    <div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:2rem;">
        <h1 style="font-size:1.5rem;font-weight:700;">{{page.title}}</h1>
    </div>
    {{ content }}
</div>

<script type="module">
    import { handleLogout } from '{{site.baseurl}}/assets/js/api/logout.js';
    window.handleLogout = handleLogout;
</script>

<!-- set active sidebar tab -->
